{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="container" id="profileContainer">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <nav class="nav">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-profileInfo-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profileInfo" type="button" role="tab" aria-controls="nav-profileInfo"
                                aria-selected="true">Security
                        </button>
                    </div>
                </nav>
                <div class="tab-content py-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-profileInfo" role="tabpanel"
                         aria-labelledby="nav-profileInfo-tab">
                        {{ form_start(changePasswordForm) }}
                        <div class="form-group mx-sm-3 mb-2 inputBox">
                            {{ form_label(changePasswordForm.currentPassword, 'Current Password', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(changePasswordForm.currentPassword, {'attr': {'class': 'form-control', 'placeholder': 'Current Password'}}) }}
                            {% if changePasswordForm.currentPassword.vars.errors|length > 0 %}
                                <p class="text-danger">
                                    {% for error in changePasswordForm.currentPassword.vars.errors %}
                                        {{ error.message }}
                                    {%  endfor %}
                                </p>
                            {% endif %}
                        </div>
                        <div style="margin-top: 2vh;"></div>
                        <div class="form-group mx-sm-3 mb-2 inputBox">
                            {{ form_label(changePasswordForm.newPassword, 'New Password', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(changePasswordForm.newPassword, {'attr': {'class': 'form-control', 'placeholder': 'New Password'}}) }}
                            {% if changePasswordForm.newPassword.vars.errors|length > 0 %}
                                <p class="text-danger">
                                    {% for error in changePasswordForm.newPassword.vars.errors %}
                                        {{ error.message }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                        <div style="margin-top: 2vh;"></div>
                        <div class="form-group mx-sm-3 mb-2 inputBox">
                            {{ form_label(changePasswordForm.confirmNewPassword, 'Confirm New Password', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(changePasswordForm.confirmNewPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirm New Password'}}) }}
                            {% if changePasswordForm.confirmNewPassword.vars.errors|length > 0 %}
                                <p class="text-danger">
                                    {% for error in changePasswordForm.confirmNewPassword.vars.errors %}
                                        {{ error.message }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                        <div style="margin-top: 2vh;"></div>
                        <button type="submit" class="btn btn-primary" id="saveNewPassword" style="color: white;">Save</button>
                        {{ form_end(changePasswordForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
