{% extends 'base.html.twig' %}

{% block title %}Hello AllUsersBoardController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container py-5">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Users</h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Verified</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    |
                                    {% for role in user.roles %}
                                        {{ role }} |
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if (user.isVerified) %}
                                        <i class="bi bi-check" style="color: darkgreen;"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle" style="color: red;"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if (user.isActive) %}
                                        <i class="bi bi-check" style="color: darkgreen;"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle" style="color: red;"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="page_nav" class="d-flex justify-content-center">
                <ul class="pagination d-inline-flex justify-content-between">
                    {% if currentPage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_all_users_board' , {'page':currentPage - 1})}}">Previous</a>
                        </li>
                    {% endif %}
                    {% if totalPages != 0 %}
                        {% for i in range(1,totalPages,1) %}
                            <li class="page-item {% if currentPage == i %}active{% endif %}">
                                <a class="page-link" href="{{ path('app_all_users_board' , {'page':i})}}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if currentPage < totalPages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_all_users_board' , {'page':currentPage + 1})}}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}
