{% extends 'base.html.twig' %}

{% block title %} {{ event.name }} {% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <a href="#">
                                    <img src="{{ asset('images/' ~ event.imagePath)  }}" class="img-fluid rounded" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h1 class="fw-bold mb-3">
                                {{ event.name }}
                            </h1>
                            <h4 class="mb-3 text-secondary">By
                                {{ event.organizer }}
                            </h4>
                            <p class="fs-5 fw-bold mb-4 text-primary">At
                                {{ event.venue }}
                            </p>
                            <p class="fs-4 fw-bold mb-4 text-primary">
                                {{ event.eventDate|date('m/d/Y') }}
                            </p>
                            <p class="fs-3 fw-bold mb-3 text-primary">
                                {{ '$' ~ (event.ticketPrice / 100) }}
                            </p>
                            <p class="mb-4">
                                {{ event.shortDescription }}
                            </p>
                            {% if reservationId is defined and not null %}
                                <a href="/payment?reservation_id={{ reservationId }}" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                    <i class="fa fa-credit-card me-2 text-primary"></i> Proceed to Payment
                                </a>
                            {% else %}
                                {% set canBuyTickets = event.availableTickets > 0 and event.startSellTime|date('U') <= "now"|date('U') %}
                                {% if canBuyTickets %}
                                    <form id="buyTicketsForm" action="/reserve" method="post">
                                        <div class="input-group quantity mb-5" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button type="button" id="minusBtn" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input id="ticketQuantity" name="quantity" type="text" class="form-control form-control-sm text-center border-0" value="1">
                                            <div class="input-group-btn">
                                                <button type="button" id="plusBtn" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="fs-4 fw-bold mb-3 text-danger">Remaining Tickets: {{ event.availableTickets }}</p>
                                        <input type="hidden" name="event_id" value="{{ event.id }}">
                                        <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Buy Tickets
                                        </button>
                                    </form>
                                {% else %}
                                    <p class="text-primary fs-5 fw-bold">Stay Tuned For Ticket Sales</p>
                                {% endif %}
                            {% endif %}
                            {% if error is defined and not null %}
                                <div id="error-message" class="text-danger mt-2">{{ error }}</div>
                            {% endif %}
                        </div>
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button"
                                            role="tab" id="nav-about-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-about" aria-controls="nav-about"
                                            aria-selected="true">Description</button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel"
                                     aria-labelledby="nav-about-tab">
                                    <p>
                                        {{ event.longDescription }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       {% if currentCategoryEvents|length > 0 %} {% include 'event_page/event_page_carousel.html.twig' %} {% endif %}
    </div>
{% endblock %}
