{% extends 'base.html.twig' %}

{% block title %}Hello ManageTicketsController!{% endblock %}

{% block body %}
    <style>
        .ticket-card {
            width: 90%;
            max-width: 600px;
            margin: 0 auto 20px;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 15px;
        }
    </style>
    <div class="container py-5 text-center">
        <div style="margin-top: 20vh;"></div>
        <h1 class="mb-4">Your Tickets:</h1>
        {% for ticket in tickets %}
            <div class="card ticket-card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ticket ID: {{ ticket.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Ticket for: {{ ticket.buyer.firstName }} {{ ticket.buyer.lastName }}</h6>
                    <p class="card-text">
                        <strong>Event:</strong> {{ ticket.event.name }},
                        <strong>Venue:</strong> {{ ticket.event.venue }},
                        <strong>Date:</strong> {{ ticket.event.eventDate|date('Y-m-d') }}
                    </p>
                    <p class="card-text">Purchase Date: {{ ticket.purchaseDate|date('Y-m-d') }}</p>

                    <a href="{{ path('app_ticket_view', {'id': ticket.id}) }}" class="btn btn-primary text-white" onclick="openInNewTab(this.href); return false;">View Ticket PDF</a>
                    <a href="{{ path('app_ticket_download', {'id': ticket.id}) }}" class="btn btn-primary text-white">Download Ticket PDF</a>

                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function openInNewTab(url) {
            let win = window.open(url, '_blank');
            win.focus();
        }
    </script>
{% endblock %}
